#about {
    padding: 7.6rem 0 4.6rem 0;
    position: relative;
    z-index: 100;
    margin-top: 90px;
}

.container {}

.row {}

.col-lg-6 {}

.about_img {
    width: 300px;
    height: 400px;
    position: relative;
}

.about_img::before {
    content: "";
    border: 8px solid var(--color-yellow);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.about_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -40px;
    right: -40px;
}

.about_row-right {
    width: 200px;
}

.about_top {
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 700;
    position: relative;
    padding: 5px 0;
    background-color: #FF4820;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



.about_body {
    color: var(--color-main);
    font-family: 'Poppins';
    margin: 24px 0;
    font-size: 14px;
    width: 600px;
    font-weight: 600;
}

.about_footer-title {
    font-family: 'Poppins';
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.interests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    width: 300px;
}

.about_footer-icon {
    display: flex;
    align-items: center;
}

.about_ticket {
    color: var(--color-main);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
}

.about_footer-icon ion-icon {
    color: var(--color-yellow);
    font-size: 18px;
}

.circle-l-about {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100rem;
    background: linear-gradient(to right, #042c54, #81AFDD);
    right: 0;
    top: 0;
    z-index: -99;
}